:root {
    --primary-color: #00bed8;
    --black-color: black;
    --white-color: white;
    --header-height: 90px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    background: var(--primary-color);
    transition: 0.5s;
    position: relative;
    outline: none;
    color: var(--white-color);
    text-transform: uppercase;
    border: none;
}

.btn::before {
    content: "";
    right: 0;
    top: 0;
    
}
