:root {
    --primary-color: rgb(0, 190, 216);
    --black-color: black;
    --white-color: white;
    --header-height: 90px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    background: var(--primary-color);
    position: relative;
    outline: none;
    color: var(--white-color);
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit::before, .btn-more::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: var(--white-color);
    opacity: 0.3;
    height: 50%;
    width: 0;
    transition: 0.5s;
}

.btn-submit::after, .btn-more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--white-color);
    opacity: 0.3;
    height: 50%;
    width: 0;
    transition: 0.5s;
}


.service__btn-more span,
.slider-img__btn-more span,
.intro__btn-more span,
.about__btn-more span {
    position: absolute;
    height: 2px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50%;
    right: 10px;
    transition: 0.5s;
}

.service__btn-more,
.slider-img__btn-more,
.intro__btn-more,
.about__btn-more {
    position: relative;
    padding-right: 50px;
    height: 100%;
}

.lazyload {
    background-image: url(//theme.hstatic.net/1000387172/1000670825/14/h-prl-one_bg.jpg?v=121);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.lazyload::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
}

.lazyload-two {
    background: url(//theme.hstatic.net/1000387172/1000670825/14/bkg-banner-section.png?v=121);
    background-attachment: fixed;
}