:root {
    --primary-color: rgb(0, 190, 216);
    --black-color: black;
    --white-color: white;
    --header-height: 90px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn {
    background: var(--primary-color);
    position: relative;
    outline: none;
    color: var(--white-color);
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit::before, .btn-more::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: var(--white-color);
    opacity: 0.3;
    height: 50%;
    width: 0;
    transition: 0.5s;
}

.btn-submit::after, .btn-more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--white-color);
    opacity: 0.3;
    height: 50%;
    width: 0;
    transition: 0.5s;
}
