/* start css header */

.header {
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: var(--white-color);
}

.header__navbar {
    display: flex;
}

.header__navbar-list {
    display: flex;
    padding-left: 0;
    margin-right: 15px;
    position: relative;
}

.header__navbar-list::before {
    content: "";
    position: absolute;
    border-left: 1px solid;
    height: 30px;
    right: -22px;
    bottom: 5px;
    border-color: darkgrey;
}

.header__navbar-item {
    list-style: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.header__navbar-item ~ .header__navbar-item {
    margin-left: 30px;
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.header__navbar-item-link.active {
    color: var(--primary-color);
}

.header__navbar-item:hover .header__navbar-item-link{
    color: var(--primary-color);
}

.header__navbar-item:hover .header__navbar-item-link-icon {
    transform: rotate(180deg);
}

.header__navbar-item:hover .header__navbar-item-dropdown {
    animation: top-to-bot_dropdown 0.3s linear forwards;
    display: block;
}

.header__navbar-item-link-icon {
    font-size: 10px;
    transition: 0.4s;
}

.header__action {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header__action em {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.header__action-account {
    position: relative;
}

.header__action-search {
    position: relative;
}

/* start drop down */
.header__navbar-item-dropdown {
    position: absolute;
    min-width: 120px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    top: -100px;
    display: none;
    transition: 1s;
    z-index: -1;
}

.header__navbar-item-dropdown::before {
    content: "";
    position: absolute;
    height: 40px;
    min-width: 200px;
    background-color: transparent;
    top: -40px;
    cursor: default;
}

.dropdown__content {
    padding: 0 20px;
    min-width: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown__content ~ .dropdown__content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown__content:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown__content:hover .dropdown__content-link{
    color: var(--primary-color);
}

.dropdown__content-link {
    font-size: 1.4rem;
}

.header__action-account-dropdown {
    position: absolute;
    top: calc(var(--header-height) - (var(--header-height) - 26px) / 2);
    right: -60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 320px;
    padding: 20px 15px 15px;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 3px;
    transform: scale(0);
    animation: zoom-in 0.3s linear forwards;
    display: none;
}

.header__action-account-dropdown::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent rgb(211, 206, 206) transparent;
    top: -20px;
    right: 60px;
}

.header__action-account-dropdown::after {
    content: "";
    position: absolute;
    height: 35px;
    width: 50px;
    background-color: transparent   ;
    top: -35px;
    right: 50px;
}

.header__action-account-dropdown.active {
    display: block;
}

.action-account__dropdown-header {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.action-account__dropdown-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 8px;
    align-self: center;
}

.action-account__dropdown-content {
    font-size: 1.2rem;
    align-self: center;
}

.action-account__dropdown-input {
    display: flex;
    flex-direction: column;
}

.action-account__dropdown-email {
    margin-bottom: 8px;
    padding: 15px 10px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.action-account__dropdown-password {
    padding: 15px 10px 3px;
    border-radius: 3px;
    padding: 15px 10px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 1.4rem;
}

.form-submit-login a {
    text-decoration: none;
    color: #2962ff;
    font-size: 1.3rem;
}

.form-submit-login p {
    font-size: 1.3rem;
}

.action-account__dropdown-recaptcha {
    margin-bottom: 15px;
}

.popover-secondary-action a {
    color: var(--primary-color);
}

.popover-secondary-action {
    margin: 15px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover-secondary-action p {
    margin: 0 0 8px;
}

.btn-submit {
    width: 290px;
    height: 40px;
    transition: 1s;
}

.btn-submit:hover::after, .btn-submit:hover::before {
    width: 300px;
}

.header__action-search-dropdown {
    position: absolute;
    top: calc(var(--header-height) - (var(--header-height) - 26px) / 2);
    right: -60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px 15px 15px;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 3px;
    transform: scale(0);
    animation: zoom-in 0.3s linear forwards;
    display: none;
}

.header__action-search-dropdown::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent rgb(211, 206, 206) transparent;
    top: -20px;
    right: 60px;
}

.header__action-search-dropdown.active {
    display: block;
}

.action-search__dropdown-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.action-search__dropdown-input {
    display: flex;
    margin-top: 30px;
}

.action-search__dropdown-input::before {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 370px;
    position: absolute;
    top: 50%;
}

.action-search__dropdown-input input {
    height: 40px;
    width: 320px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1.4rem;
    padding: 5px;
}

.action-search__dropdown-input em {
    font-size: 20px;
    margin: 0;
    color: white;
}

.action-search__input-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    background-color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid var(--primary-color);
}


/* end drop down */

/* end css header */


/* start slider section */
.slider__content-wrap {
    display: none;
}

.slider__content-wrap.active {
    display: block;
}

.slider__img {
    width: auto;
    height: auto;
}
/* end section slider section */

@keyframes top-to-bot_dropdown {
    from {
        top: -50px;
    }
    to {
        top: calc(var(--header-height) - (var(--header-height) - 40px) / 2);;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}