/* start css header */
.header {
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background: var(--white-color);
}

.header__navbar {
    display: flex;
}

.header__navbar-list {
    display: flex;
    padding-left: 0;
    margin-right: 15px;
    position: relative;
}

.header__navbar-list::before {
    content: "";
    position: absolute;
    border-left: 1px solid;
    height: 30px;
    right: -22px;
    bottom: 5px;
    border-color: darkgrey;
}

.header__navbar-item {
    list-style: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.header__navbar-item ~ .header__navbar-item {
    margin-left: 30px;
}

.header__navbar-item-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.header__navbar-item-link.active {
    color: var(--primary-color);
}

.header__navbar-item:hover .header__navbar-item-link{
    color: var(--primary-color);
}

.header__navbar-item:hover .header__navbar-item-link-icon {
    transform: rotate(180deg);
}

.header__navbar-item:hover .header__navbar-item-dropdown {
    background-color: var(--white-color);
    animation: top-to-bot_dropdown 0.3s linear forwards;
    display: block;
    z-index: 1;
}

.header__navbar-item-link-icon {
    font-size: 10px;
    transition: 0.4s;
}

.header__action {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header__action em {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.header__action-account {
    position: relative;
}

.header__action-search {
    position: relative;
}

/* start drop down */
.header__navbar-item-dropdown {
    position: absolute;
    min-width: 120px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    top: -100px;
    display: none;
    transition: 1s;
    z-index: -1;
}

.header__navbar-item-dropdown::before {
    content: "";
    position: absolute;
    height: 40px;
    min-width: 200px;
    background-color: transparent;
    top: -40px;
    cursor: default;
}

.dropdown__content {
    padding: 0 20px;
    min-width: 200px;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown__content ~ .dropdown__content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown__content:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown__content:hover .dropdown__content-link{
    color: var(--primary-color);
}

.dropdown__content-link {
    font-size: 1.4rem;
}

.header__action-account-dropdown {
    position: absolute;
    top: calc(var(--header-height) - (var(--header-height) - 26px) / 2);
    right: -60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 320px;
    padding: 20px 15px 15px;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 3px;
    transform: scale(0);
    animation: zoom-in 0.3s linear forwards;
    display: none;
}

.header__action-account-dropdown::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent rgb(211, 206, 206) transparent;
    top: -20px;
    right: 60px;
}

.header__action-account-dropdown::after {
    content: "";
    position: absolute;
    height: 35px;
    width: 50px;
    background-color: transparent   ;
    top: -35px;
    right: 50px;
}

.header__action-account-dropdown.active {
    display: block;
}

.action-account__dropdown-header {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.action-account__dropdown-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 8px;
    align-self: center;
}

.action-account__dropdown-content {
    font-size: 1.2rem;
    align-self: center;
}

.action-account__dropdown-input {
    display: flex;
    flex-direction: column;
}

.action-account__dropdown-email {
    margin-bottom: 8px;
    padding: 15px 10px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.action-account__dropdown-password {
    padding: 15px 10px 3px;
    border-radius: 3px;
    padding: 15px 10px 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 1.4rem;
}

.form-submit-login a {
    text-decoration: none;
    color: #2962ff;
    font-size: 1.3rem;
}

.form-submit-login p {
    font-size: 1.3rem;
}

.action-account__dropdown-recaptcha {
    margin-bottom: 15px;
}

.popover-secondary-action a {
    color: var(--primary-color);
}

.popover-secondary-action {
    margin: 15px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover-secondary-action p {
    margin: 0 0 8px;
}

.btn-submit {
    width: 290px;
    height: 40px;
    transition: 1s;
}

.btn-submit:hover::after, .btn-submit:hover::before {
    width: 300px;
}

.header__action-search-dropdown {
    position: absolute;
    top: calc(var(--header-height) - (var(--header-height) - 26px) / 2);
    right: -60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px 15px 15px;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 3px;
    transform: scale(0);
    animation: zoom-in 0.3s linear forwards;
    display: none;
}

.header__action-search-dropdown::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent rgb(211, 206, 206) transparent;
    top: -20px;
    right: 60px;
}

.header__action-search-dropdown.active {
    display: block;
}

.action-search__dropdown-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.action-search__dropdown-input {
    display: flex;
    margin-top: 30px;
}

.action-search__dropdown-input::before {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 370px;
    position: absolute;
    top: 50%;
}

.action-search__dropdown-input input {
    height: 40px;
    width: 320px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1.4rem;
    padding: 5px;
}

.action-search__dropdown-input em {
    font-size: 20px;
    margin: 0;
    color: white;
}

.action-search__input-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    background-color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid var(--primary-color);
}


/* end drop down */

/* end css header */


/* start slider section */
.slider__content {
    position: relative;
}

.slider__content-wrap {
    display: none;
    position: relative;
    overflow: hidden;
}

.slider__content-wrap.active {
    display: block;
}

.slider__img {
    height: 700px;
    width: 100%;
    transition: 1s;
    animation: slider_img_zoom_in 0.5s linear forwards;
}

.content__img-wrap {
    position: absolute;
    margin-right: 200px;
    animation: slider_content 0.7s linear forwards;
}

.slider-img__title {
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 900;
    color: var(--white-color);
    margin: 0 0 24px 0;
    line-height: 1.5;
    cursor: default;
}

.slider-img__content {
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 1.7;
    margin: 0 0 30px 0;
    cursor: default;
}

.btn-more:hover::after, .btn-more:hover::before {
    width: 166px;
}

.btn-more:hover span {
    width: 40px;
}

.slider__button-pre {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    left: 30px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.5s;
}

.slider__button-pre:hover {
    left: 20px;
    opacity: 0.7;
}

.slider__button-next {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    right: 30px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.5s;
}

.slider__button-next:hover {
    right: 20px;
    opacity: 0.7;
}

.slider__dot-item {
    background: var(--primary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

.slider__dot-item ~ .slider__dot-item {
    margin-left: 20px;
}

.slider__dots {
    position: absolute;
    bottom: 15px;
    display: flex;
    right: calc(50% - 40px);
}

.slider__dot-item::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px var(--primary-color);
    display: none;
}

.active.slider__dot-item::before {
    display: block;
}
/* end section slider section */


/* start intro section */
.intro {
    background: #f6f7f8;
    padding-top: 90px;
    padding-bottom: 20px;
}

.intro__container {
    display: flex;
    align-items: center;

}

.intro__title {
    line-height: 1.6;
}

.intro__title span {
    font-size: 3rem;
    margin-bottom: 15px;
}

.intro__title h2 {
    font-size: 4rem;
    margin: 0;
}

.intro__content strong {
    text-transform: uppercase;
}

.intro__content {
    font-size: 1.5rem;
    padding: 35px 0 35px 30px;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    line-height: 1.6;
}

.intro__time,
.blog__popular {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin: 20px 0;
    border-right: 10px solid var(--primary-color);
}

.intro__time strong,
.blog__popular strong {
    text-transform: uppercase;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.1);
}

.intro__time span,
.blog__popular span {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* end intro section */


/* start service section */
.service {
    padding: 90px 0;
}

.service__title {
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 40px;
}

.service__content {
    padding-bottom: 10px;
}

.service__content-img {
    width: 100%;
    transition: 1s;
    z-index: -1;
}

.service__content-wrap {
    position: relative;
    overflow: hidden;
    height: 340px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service__content-wrap::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    transition: 1s;
    z-index: 1;
}

.service__content-wrap::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    transition: 1s;
}

.service__content:hover .service__content-wrap::before {
    width: 100%;
    height: 100%;
}

.service__content:hover .service__content-wrap::after {
    width: 100%;
    height: 100%;
}

.service__content:hover .service__content-img {
    transform: scale(1.1);
}

.service__desc h3 {
    font-size: 1.5rem;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.service__desc h3:hover {
    color: var(--primary-color);
}
/* end service section */

/* start about section */
.about {
    padding: 90px 0 130px 0;
    background-color: #f6f7f8;
}

.about__img-wrap {
    padding-left: 15px;
    position: relative;
}

.about__img {
    width: 100%;
}

.about__img-wrap::before {
    content: "";
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    width: 15px;
    top: 13px;
    left: 0;
}

.about__img-wrap::after {
    content: "";
    height: 15px;
    background-color: var(--primary-color);
    position: absolute;
    width: calc(100% - 31px);
    bottom: -13px;
    right: 31px;
}

.about__content {
    padding: 0 15px 0 75px;
}

.about__content-title {
    font-size: 4rem;
    font-weight: 700;
}

.about__desc {
    padding-left: 30px;
    padding-bottom: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.about__desc p {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

/* end about section */

/* start parallax section */
.parallax {
    padding: 90px 0;
    color: var(--white-color);
}

.parallax__container {
    z-index: 2;
}

.parallax__box-content1 {
    z-index: 2;
}

.parallax__fact-counter-wrap {
    height: 100%;
}

.box__some-fact-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__some-fact-counter span:first-child {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.box__some-fact-counter span:nth-child(2) {
    height: 3px;
    width: 50px;
    background-color: var(--white-color);
}

.box__fact-content {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}

.parallax__box-content2 {
    padding: 70px 50px;
    border: 10px solid var(--white-color);
    border-left: none;
    position: relative;
}

.parallax__box-content2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: var(--white-color);
    left: 0;
    top: 0;
}

.parallax__box-content2::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: var(--white-color);
    left: 0;
    bottom: -1px;
}

.parallax__box-content2 span {
    font-size: 3rem;
}

.parallax__title {
    font-size: 3.9rem;
    letter-spacing: 1px;
    margin: 25px 0;
}

.parallax__content {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1.5px;
}
/* end parallax section */

/* start policy section */
.policy {
    background-color: var(--white-color);
}

.policy__container {
    padding: 90px 0;
}

.policy__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.policy__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    padding: 22px;
    background-color: var(--primary-color);
}

.policy__img {
    width: 36px;
    height: 36px;
}

.policy__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.policy__bulkhead {
    width: 70px;
    height: 2px;
    background-color: var(--primary-color);
    margin-bottom: 15px;
}

.policy__content {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}

/* end policy section */


/* start whatwedo section */
.whatwedo {
    padding: 90px 0;
    background-color: #f6f7f8;
}

.graph__service,
.graph__new-technology,
.graph__satisfied,
.graph__quality {
    height: 30px;
    background: rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 40px;
    position: relative;
}

.graph__service .graph__percent{
    --width-graph: 95%;
    animation: graph 3s linear forwards;
}

.graph__new-technology .graph__percent {
    --width-graph: 80%;
    animation: graph 3s linear forwards;
}

.graph__satisfied .graph__percent {
    --width-graph: 75%;
    animation: graph 3s linear forwards;
}

.graph__quality .graph__percent {
    --width-graph: 60%;
    animation: graph 3s linear forwards;
}

.graph__title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 900;    
    padding-bottom: 5px;
}

.graph__percent {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
}

.graph__percent h2 {
    margin: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 35px;
    width: 0;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 30px;
    color: var(--white-color);
}

.whatwedo__desc {
    padding-left: 40px;
}

.whatwedo__desc p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.desc__title {
    margin-top: 0;
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
/* end whatwedo section */
/* start blog section */
.blog {
    padding: 90px 0;
}

.blog__title {
    text-transform: uppercase;
    padding-bottom: 25px;
    font-size: 4rem;
    font-weight: 700;
}

.blog__post {
    position: relative;
    margin-bottom: 30px;
}

.blog__desc {
    position: absolute;
    padding: 20px;
    left: 30px;
    bottom: 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 290px;
    cursor: pointer;
}

.blog__desc-title {
    font-size: 2rem;
}

.blog__desc-time {
    font-size: 1.5rem;
}

.blog__post-img-wrap {
    display: block;
}

.blog__post-img {
    width: 100%;
}
/* end blog section */
/* start video section */
.video {
    padding: 90px 0;
}


.video__wrap {
    position: relative;
}

.video__wrap:hover .video__btn-wrap {
    font-size: 3rem;
    opacity: 0.7;
}

.video__btn-wrap {
    position: absolute;
    top: 50%;
    left: calc(50% - 1rem);
    font-size: 2rem;
    color: white;
    transition: 1s;
}

.video-btn {
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: var(--white-color);
}

.video__img {
    width: 100%;
    cursor: pointer;
}
/* end video section */

@keyframes top-to-bot_dropdown {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: calc(var(--header-height) - (var(--header-height) - 40px) / 2);
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slider_content {
    from {
        top: 0;
        left: 15%;
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 40%;
        left: 15%;
    }
}

@keyframes slider_img_zoom_in {
    from {
        opacity: 0.8;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes graph {
    from {
        width: 0%;
    }
    to {
        width: var(--width-graph);
    }
}